<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Military Marketplace</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-btn">
                    <a href="#" class="btn btn-default sign_buttons" id="register_signin_btn" data-toggle="modal" data-target="#myModal">Log in / Sign Up</a>
                </p>
            </li>
                
            <li style="display: none" id="logout">
                <p class="navbar-btn">
                    <a href="/" id="logout_btn" class="btn btn-default">Log Out</a>
                </p>
            </li>
            

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <!-- NEED LINKS -->
            <li style="display: none" id="make_a_post"><a href="/make_a_post" id="make_a_post_btn">Make a Post</a></li>
            <li style="display: none" id="profile"><a href="/profile" id="profile_btn">My Profile</a></li>
            <li id="about"><a href="about" id="about_btn">About</a></li>
            <li id="contact"><a href="contact" id="contact_btn">Contact</a></li>
        </ul>
    </div>
</nav>
