<!-- ro -->
<div class="container-fluid hero-slide">
    <div class="row">
        <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="images/washington-aircraft-carrier.png" class="img-responsive center-block" alt="CVN 77 Strike Group">
                        <div class="carousel-caption">
                            <h3>CVN 73 </h3>
                            <p>George Washington CVN 73 Strike Group</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/FH-Boots.jpg" class="img-responsive center-block" alt="Food Hood Boots">
                        <div class="carousel-caption">
                            <h3>Fort Hood Fisher House Boots by Year </h3>
                            <p> Honoring each service member who has fallen from 2001 to 2014. </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/military-parris-island-aerial.jpg" class="img-responsive center-block" alt="Parris Island Aerial">
                        <div class="carousel-caption">
                            <h3>Marine Corps Recruit Deport, Parris Island </h3>
                            <p> Has been the site of Marine Corps recruit training since Nov. 1, 1915.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/F-22-Raptor-Alaska.jpg" class="img-responsive center-block" alt="F-22 Raptors">
                        <div class="carousel-caption">
                            <h3>F-22 Raptors assigned to the 3rd Wing at Elmendorf </h3>
                            <p> The pair fly a training mission near Elmendorf Air Force Base, Alaska.</p>
                        </div>
                    </div>

                     <div class="item">
                        <img src="images/HPhoto.jpg" class="img-responsive center-block" alt="Coast Guard Pacific Southwest">
                        <div class="carousel-caption">
                            <h3>Coast Guard Pacific Southwest </h3>
                            <p> Station Channel Islands: Protecting North America's Galapagos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <!-- Our Mission -->
    <h1 id="our-mission">- Our Mission -</h1>
    <p id="mission-text"> To providing a safe, trusting place where military personnel can exchange goods. </p>   
    <p id="mission-text"> We thank you for your service. </p>
    <h1 id="about-us">- Our Team - </h1>  
    <p id="about-us-text"> "Dreamers, Designers, Creators" </p>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-circle" style="width:100%" alt="Image">
            <p>Person 1</p>
        </div>

        <div class="col-sm-3"> 
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-circle" style="width:100%" alt="Image">
            <p>Person 2</p>    
        </div>

        <div class="col-sm-3"> 
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-circle" style="width:100%" alt="Image">
            <p>Person 3</p>    
        </div>

        <div class="col-sm-3"> 
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-circle" style="width:100%" alt="Image">
            <p>Person 4</p>    
        </div>
    </div>
</div>






