<!-- ro -->
<body id="background-contact">
  <br><br>
  <h1 id="h1-contact-text">Contact us</h1> 
  <br><br>
  <p id='p-contact-text'>Want to get in touch with one of the developers?</p>
  <p id='p-contact-text'> Please email us directly and we will try to get back to you within 48 hours!</p>
  <br><br>
  <!-- Main Content -->
  <div class='container'>
    <div class='row'>
      <div class='col-sm-offset-4 col-sm-5'>
        <table>
          <tr>
            <th>Developer</th>
            <th>Email</th>
          </tr>
          <tr>
            <td>Rochelle Beal</td>
            <td>bealrochelle@gmail.com</td>
          </tr>
          <tr>
            <td>Ricardo Paulin</td>
            <td>rpaulin1990@gmail.com</td>
          </tr>
          <tr>
            <td>Steven Quast</td>
            <td>smquast@gmail.com</td>
          </tr>
          <tr>
            <td>Artur Solyanyk</td>
            <td>artur.solyanyk1008@gmail.com</td>
          </tr>
      </table>
      </div>
    </div>
  </div>
  
</body>
