<body id="background-home">

{{!--<div class="dropdown center_align" id="homepage_dropdown">
    <select id="bases_homepage">
        <option value="all-bases">-- Choose a base (default all bases) --</option>
        {{#each bases }}
            <option value="{{this.url_slug}}">{{this.base}}</option>
        {{/each}}
    </select>
</div>--}}



<div class="row row1">

</div>

<div class="row row2">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                {{#each categories }}
                <div class="col-xs-4 homepage_category"><a href="#" class="homepage_category_link" value={{this.url_slug}}>{{category}}</a></div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

</body>