<h1 class="center_align">Welcome to the Military Market Place</h1>
<h4 class="center_align">Select a base and browse for items on sale through the different categories below</h4>


<div class="dropdown center_align" id="homepage_dropdown">
    <select id="bases_homepage">
        <option value="all-bases">-- Choose a base (default all bases) --</option>
        <option value="houston-meps">Houston MEPS</option>
        <option value="national-guard">National Guard</option>
        <option value="fort-sam-houston">Fort Sam Houston</option>
    </select>
</div>

<div class="container center_align" id="homepage_categories">

    {{#each categories }}
        <div class="col-xs-4 homepage_category"><a href="#" class="homepage_category_link" value={{this.url_slug}}>{{category}}</a></div>
    {{/each}}
</div>

