
/* MODAL */

.modal_footer {

    margin-top: 10px;

}

.center_align {

    text-align: center;

}

#homepage_dropdown {

    margin: 20px 0 10px 0;

}

.homepage_category {

    margin-top: 10px;

}

/* END MODAL */