
/* MODAL */

.modal_footer {

    margin-top: 10px;

}

.center_align {

    text-align: center;

}

#homepage_dropdown {

    margin: 20px 0 10px 0;

}

.homepage_category {

    margin-top: 10px;

}

/* END MODAL */

/* CAROUSEL */

.hero-slide {
    margin-top: -20px;
    background: #e6e6e6;
}
 
.carousel {
    height: 50%;
}

.slider-size {
    height: 380px;
}


/* END CAROUSEL */

/* About page Text */
.text-center {
    background: #e6e6e6;
}
h1 {
    font-family: 'Bree Serif', serif;
}

p {
    font-family: 'Bitter', serif;
    font-size: 16px;
}

/* End About page Test */